/Is-202/Sprint_1/StudentProsjektV2/dist/
/Is-202/Sprint_1/StudentProsjektVKim/nbproject/private/
/Is-202/Sprint_1/StudentProsjektVKopi/nbproject/private/
/Is-202/Sprint_1/Eksempel/StudentProsjektVEksempelpåDB/build/
/Is-202/Sprint_1/Eksempel/StudentProsjektVEksempelpåDB/nbproject/private/
/Is-202/Sprint_1/StudentProsjektV2_KopiV1/nbproject/private/
/Is-202/Sprint_1/StudentProsjektV2_KopiV1/build/
/Is-202/Sprint_1/StudentProsjektV2_KopiV1/dist/
Is-202/Sprint_1/StudentProsjekt3.0/build.xml
*.xml
*.properties
Is-202/Sprint_1/StudentProsjekt3.0/nbproject/project.xml
*.properties
Is-202/Sprint_1/StudentProsjekt3.0/nbproject/build-impl.xml
/Is-202/Sprint_1/StudentProsjekt4.0/nbproject/private/
/Is-202/Sprint_1/StudentProsjekt4.0/build/
/Is-202/Sprint_1/StudentProsjekt4.0/dist/