/Is-202/Sprint_1/StudentProsjektV2/dist/
/Is-202/Sprint_1/StudentProsjektVKim/nbproject/private/
/Is-202/Sprint_1/StudentProsjektVKopi/nbproject/private/
/Is-202/Sprint_1/Eksempel/StudentProsjektVEksempelpåDB/build/